body {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-image: url(./img/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}

body,
h1,
h2,
h3,
p,
a,
img,
button {
    margin: 0;
    padding: 0;
    color: white;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.place_nav {
    justify-content: center;
}

nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    flex: 1;
    gap: 2.5rem;
}

.place_head {
    display: flex;
    justify-content: flex-start;
}

.btn_heading {
    cursor: pointer;
    padding-left: 3rem;
}

.icon_head {
    width: 16rem;
    height: 5rem;
}

.place_nav_input {
    display: flex;
    align-items: center;
    height: min-content;
    background-color: rgba(255, 255, 255, 0.28);
    width: 20rem;
    padding: 10px 20px;
    border-radius: 2.5px;
}

.nav_input {
    flex: 1;
    font-size: 1.1rem;
    background: none;
    outline: none;
    border: none;
    color: #ffffff;
    font-family: "Montserrat";
    letter-spacing: 0.05rem;
}

.nav_input::placeholder {
    opacity: 0.9;
    font-weight: 300;
    color: #ffffff;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.place_heart {
    flex: 0.3;
    display: flex;
    justify-content: center;
}

.icon_heart {
    color: white;
    font-size: 2.5rem;
    opacity: 0.4;
    cursor: pointer;
}

.icon_heart:hover {
    opacity: 0.8;
}

main {
    display: flex;
    justify-content: center;
}

.place_content {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.box_content {
    width: 20.5rem;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 2.5px 0.2px white;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 0.8rem;
    padding: 1.5rem 1.75rem;
    cursor: pointer;
}

.btn_load {
    position: fixed;
    right: 3rem;
    bottom: 2rem;
    border: none;
    background-color: transparent;
}

.img_load {
    width: 2.5rem;
    height: 2.5rem;
}

.place_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
}

.pokemon_head {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: white;
}

.pokemon_num {
    color: white;
    font-size: 1.25rem;
    flex: 1;
}

.pokemon_img {
    width: 8rem;
    height: 8rem;
    transition: transform 500ms ease-in-out;
    align-self: center;
}

.box_content:hover>.pokemon_img {
    transform: scale(1.2);
}

.place_characteristics {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
}

.box_characteristics {
    width: 7.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.285);
    border-radius: 5rem;
}

.box_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    padding: 0.3rem;
}

.icon_characteristics {
    width: 1rem;
    height: 1rem;
}

.characteristics {
    color: white;
}

.place_opened_pokemon {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(71, 71, 71);
}

.water {
    background: linear-gradient(0deg, rgba(28, 24, 106, 1) 0%, rgba(43, 116, 167, 1) 64% 100%);
}

.fire {
    background: linear-gradient(0deg, rgb(112, 13, 13) 0%, rgb(216, 22, 31) 64% 100%)
}

.grass {
    background: linear-gradient(0deg, rgb(20, 88, 33) 0%, rgb(61, 147, 35) 64% 100%)
}

.ground {
    background: linear-gradient(0deg, rgb(76, 79, 35) 0%, rgb(196, 192, 85) 64% 100%)
}

.electric {
    background: linear-gradient(0deg, rgb(107, 114, 10) 0%, rgb(195, 189, 9) 64% 100%)
}

.poison {
    background: linear-gradient(0deg, rgb(72, 17, 92) 0%, rgb(126, 27, 176) 64% 100%)
}

.place_id {
    display: flex;
    align-items: flex-start;
    z-index: -3;
    position: absolute;
    top: -2rem;
}

.id {
    font-size: 17.5rem;
    font-weight: bold;
    opacity: 0.2;
}

.navbar_op {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_back {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border: 1px solid white;
    border-radius: 5rem;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 1px 0.2px rgb(255 255 255);
    padding: 0.5rem;
    font-size: 1rem;
}

.btn_back:hover {
    background-color: rgba(255, 255, 255, 0.318);
}

.img_back {
    width: 0.9rem;
}

.box_switch_op {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.switch_outside {
    opacity: 0.5;
    color: white;
    letter-spacing: 0.075rem;
    text-transform: capitalize;
    font-size: 1.1rem;
}

.switch_outside:hover {
    opacity: 1;
}

.switch_mid {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: white;
    text-transform: capitalize;
}

.place_heart_op {
    display: flex;
    justify-content: flex-end;
}

.main_content_op {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.place_main_op {
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 7.5rem;
}

.box_main_op {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    gap: 1rem;
}

.main_icon_op {
    width: 4.5rem;
    object-fit: contain;
}

.place_main_head_op {
    display: flex;
    gap: 0.5rem;
}

.main_heading_op {
    display: flex;
    flex-direction: column;
}

.heading_op {
    text-transform: capitalize;
    font-size: 4rem;
}

.heading_characteristics {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.characteristics_op {
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.place_about_op {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.box_about_op {
    display: flex;
    justify-content: space-between;
}

.box_main_img_op {
    flex: 1 50%;
    z-index: -1;
}

.main_img_op {
    width: 14rem;
}

.place_info_op {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.box_info_op {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 1rem;
}

.box_stats_name {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.place_stats_num {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box_num_bar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.box_bar {
    width: 100%;
}

.bar {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
}

.bar_text_d-none {
    display: none;
}

.place_characteristics_opened {
    display: flex;
    gap: 2rem;
}

.d-none_heart_res {
    display: none;
}

.d-none_heart_des {
    display: unset;
}

.d-none_btnback_res {
    display: none;
}

.d-none_btnback_des {
    display: unset;
}

@media screen and (max-width: 1495px) {
    .place_content {
        justify-content: center;
    }
}

@media screen and (max-width: 1150px) {
    .place_content {
        width: 90.5%;
    }
    .btn_heading {
        padding-left: 0;
    }
}

@media screen and (max-width:900px) {
    html {
        font-size: 14px;
    }
    nav {
        flex-direction: column;
        padding: 0 3rem;
        gap: 1.5rem;
    }
    .place_heart {
        position: absolute;
        right: 3rem;
        top: 3.25rem;
    }
    .place_head {
        flex: 1;
        justify-content: center;
        padding-top: 2rem;
    }
    main {
        margin-top: 8.5rem;
    }
    .icon_head {
        height: 7rem;
        width: 23rem;
    }
    .place_main_op {
        z-index: -1;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }
    .main_img_op {
        width: 8.5rem;
    }
    .d-none_stats {
        display: none;
    }
    .id {
        font-size: 13rem;
    }
    .d-none_btnback_res {
        display: unset;
    }
    .d-none_btnback_des {
        display: none;
        padding: 5rem;
    }
}

@media screen and (max-width:520px) {
    .place_content {
        width: 87.5%;
    }
    html {
        font-size: 12px;
    }
    .place_main_op {
        width: 100%;
    }
    .main_content_op {
        width: unset;
    }
    .box_info_op {
        width: 100%;
    }
    .heading_op {
        font-size: 3rem;
    }
    .place_nav_input {
        width: 7.5rem;
        height: 1.5rem;
    }
    .place_input_heart_res {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .main_img_op {
        width: 7.5rem;
    }
    .icon {
        display: none;
    }
    .d-none_heart_res {
        display: unset;
    }
    .place_heart {
        position: unset;
        flex: 0;
    }
    .d-none_heart_des {
        display: none;
    }
    .id {
        padding-top: 3rem;
        font-size: 10rem;
    }
    .box_switch_op {
        gap: 0.5rem;
    }
    .box_stats_name {
        display: none;
    }
    .bar_text_d-none {
        display: unset;
    }
    .bar_text_res {
        overflow: hidden;
        white-space: nowrap;
    }
    .box_num_bar {
        height: 12.5%;
    }
    .bar {
        border-radius: 0.75rem;
    }
}